<div class="container">
  <div class="semester">
    Semester 3
  </div>
  <div class="modul">
    Modul:
  </div>
  <div class="fach">
    Theo 1
  </div>

  <div class="container">
  <div class="semester">
    Semester 4
  </div>
  <div class="row">
    <div class="modul">
      Modul:
    </div>
    <div class="col-w25">
      Modulnote:
    </div>
    <div class="col-w25">
      2,2
    </div>
  </div>
</div>

  <div class="fach">
    Statistik
  </div>

  <div class="semester">
    Semester 5
  </div>
  <div class="modul">
    Modul:
  </div>
  <div class="fach">
    Theo 1
  </div>

  <div class="semester">
    Semester 6
  </div>
  <div class="modul">
    Modul:
  </div>
  <div class="fach">
    Statistik
  </div>

  <div class="semester">
    Semester 7
  </div>
  <div class="modul">
    Modul:
  </div>
  <div class="fach">
    Theo 1
  </div>
</div>
