<div class="container">
  <!-- Header -->
  <div class="row justify-content-end calc-header">
    <div class="col-1 text-center">
      BE <i class="bi bi-question-circle"
            ngbTooltip="Setze für bestandene Leistungen einen Haken."
            tooltipClass="custom-tooltip"></i>
    </div>
    <div class="col-2 text-center">
      Speichern <i class="bi bi-question-circle"
                   ngbTooltip="Speichere für neue Berechnungen deine schon im Notenausuzug gespeicherten Noten ab."
                   tooltipClass="custom-tooltip"></i>
    </div>
  </div>

  <!-- Semester 1 -->
  <div class="row">
    <div class="semester">
      Semester 1
    </div>
    <div class="modul">
      Modul x:
    </div>
    <div class="col fach">
      Fach y: hier alle Fächer, die zu Modul x gehören.
    </div>
    <div class="col-1 text-center">
      <input class="form-check-input position-static" type="checkbox" id="flexCheckDefault">
    </div>

    <div class="col-2 text-center">
      <button class="bi bi-box-arrow-down"></button>
    </div>
  </div>

  <!-- Semester 2 -->
  <div class="row">
    Semester 2
  </div>

  <!-- Footer -->
  <div class="row">
    Footer
  </div>

  auf "benotet"/"nicht benotet" im JSON-File achten!<p></p>
</div>

