<div class="container">
  <!-- Header -->
  <div class="row justify-content-end calc-header">
      <span>
        BE
      </span>
      <span>
        Speichern <i class="bi bi-question-circle" ></i>
      </span>
  </div>

  <!-- Semester 1 -->
  <div class="row">
    <div class="semester">
      Semester 1
    </div>
    <div class="modul">
      Modul x:
    </div>
    <div class="fach">
      Fach y: hier alle Fächer, die zu Modul x gehören.
    </div>
  </div>

  <!-- Semester 2 -->
  <div class="row">
    Semester 2
  </div>

  <!-- Footer -->
  <div class="row">
    Footer
  </div>


</div>

