// use bootstrap styles and icons
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.bi {
  background: none;
  border: none;
}

.calc-header {
  font-weight: bold;
}

.semester {
  font-weight: bold;
  padding: 0.5rem 0 0 1rem;
}

.modul {
  padding: 0.5rem 0 0 2rem;
  margin: 0;
}

.fach {
  padding-left: 3rem;
}

.modul-col {
  float: none;
}

.custom-tooltip .tooltip-inner {
  color: black;
  background-color: lightgrey;
  font-size: 75%;
}
.custom-tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: lightgrey;
}
.custom-tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: lightgrey;
}
.custom-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: lightgrey;
}
.custom-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: lightgrey;
}

.form-check-input[type='checkbox'] {
  border-color: grey;
  box-shadow: none;
}
.form-check-input[type='checkbox']:checked {
  background-color: green;
  border-color: green;
  box-shadow: none;
}
.form-check-input:hover {
  cursor: pointer;
}


